<a href="/">Home</a>
<a href="/games">Back to Games</a>


<h1><%=@game.title%></h1>
<h3>By <%=@game.developer%></h3><br>

<label><%=@game.description%></label><br>
<br>
<label>Genre: <%=@game.genre%></label><br>

<label>Platform: <%=@game.platform%></label><br>

<label>Publisher: <%=@game.developer%></label><br>
<br>

<label>Added by: </label>
<a href=<%="/users/"+@user.id.to_s%>><%=@user.username%></a><br>

<br>

<form action=<%="/games/"+@game.id.to_s+"/edit"%> method="GET">
    <input id="edit" type="submit" value="Edit Game">
</form>

<form action="/games" method="GET">
    <input id="delete" type="submit" value="Delete Game">
</form>